html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}

body, html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: #393939;
    color: #fff;
}

a {
    color: #fff;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    font-size: 25px;
    margin: 8px 0;
}

p {
    padding: 10px 0;
}

a.logout {
    display: inline-block;
    background: #f27049;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 22px;
    margin: 20px;
}


/**
 * Container
 */
div.container {
    width: 100%;
    max-width: 600px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}


/**
 * Routes
 */
div#routes,
div#help {
    padding-bottom: 105px;
}

div#routes ul,
div#help ul {
    overflow: auto;
}

div#routes ul li,
div#help ul li {
    display: block;
    float: left;
    width: 50%;
}

div#routes ul li a {
    display: block;
    margin: 4px;
    padding: 96px 0 0;
    background: #95bc4a;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

div#routes ul li a span {
    display: block;
    padding: 0 20px;
    background: #86ad3d;
}

div#routes ul li.Huis {
    width: 100%;
}

div#routes ul li.Huis a {
    background: url('../images/house-icon.png') no-repeat center 10px #95bc4a;
}

div#routes ul li.School a {
    background: url('../images/school-icon2.png') no-repeat center 10px #95bc4a;
}

div#routes ul li.Werk a {
    background: url('../images/work-icon2.png') no-repeat center 10px #95bc4a;
}

div#routes ul li.Oma a {
    background: url('../images/woman-icon.png') no-repeat center 10px #95bc4a;
}

div#routes ul li.Truus a {
    background: url('../images/woman-2-icon.png') no-repeat center 10px #95bc4a;
}

/**
* Scores
*/
div#scores ul li.scores {
    width:100%;
    display:block;
    float:left;
}

div#scores ul li.scores a {
    display: block;
    margin: 5px;
    padding: 96px 0 0;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

div#scores ul li.scores a span {
    background-color: #3081ae;
    display: block;
    padding: 0 20px;
}

div#routes ul li.scores a {
    background: url('../images/cup-icon.png') no-repeat center 10px #4FA8DC;
}

/**
* Help
*/

div#help {
    margin-top: 90px;
}

h1.nood {
    margin-top:0;
    padding:10px;
    background-color:#94bb47;
    margin-bottom:20px;
}

div#help ul li a {
    display: block;
    padding: 45px 0 45px 90px;
    font-size: 25px;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
}

div#help ul li {
    width:100%;
    margin-bottom:30px;
}

div#help ul li.Mama,
div#help ul li.Papa,
div#help ul li.Begeleider {
    background: url('../images/phone-icon.png') no-repeat 25px 30px #50aae5;
}

div#help ul li.Mama a {
    background: url('../images/mama-profile-picture.png') no-repeat right 0;
}

div#help ul li.Papa a {
    background: url('../images/papa-profile-picture.png') no-repeat right 0;
}

div#help ul li.Begeleider a {
    background: url('../images/begeleider-profile-picture.png') no-repeat right 0;
}

div.top-bar-btm-margin {
    margin-bottom:30px;
}


/**
* Scores
*/
div#score-stats-outside-wrapper {
    background: url('../images/blue-bg.png') repeat-x top left;
    margin-top:57px;
    width:100%;
}

div#score-stats-outside-wrapper-2 {
    background: url('../images/blue-bg3.png') repeat-x top left;
    margin-top:57px;
    width:100%;
}

div#score-stats-inside-wrapper {
    /*background: url('../images/green-circle2.png') no-repeat 0 0;*/
    width:100%;
}

div#score-stats-inside-wrapper h1 {
    padding-top:20px;
    text-align: center;
    margin:0;
}

div#score-stats-inside-wrapper-left {
    width:25%;
    float:left;
    margin-top:140px;
    font-weight:bold;
}

div#score-stats-inside-wrapper-middle {
    float:left;
    text-align:center;
    margin-top:20px;
    width:50%;
}

div#middle-circle {
    width:290px;
    height:290px;
    -moz-border-radius:145px;
    -webkit-border-radius: 145px;
    background-color: #94bb47;
    margin: 0 auto;
}

/*div#middle-circle {*/
    /*width:250px;*/
    /*height:250px;*/
    /*-moz-border-radius:125px;*/
    /*-webkit-border-radius: 125px;*/
    /*background-color: #94bb47;*/
    /*margin: 0 auto;*/
/*}*/

div#score-stats-inside-wrapper-middle p {
    font-size: 30px;
    padding-top:95px;
    font-weight:bold;
}


div#score-stats-inside-wrapper-right {
    width:25%;
    float:left;
    margin-top:140px;
    font-weight:bold;
}


div#received-medals {
    margin:20px 0;
}

div#received-medals a {
    padding:5px 0;
}


div#share-medals {
    margin:0 auto 105px auto;
    overflow:auto;
}

.share-txt {
    clear:both;
}

.share-txt .share-twitter,
.share-txt .share-facebook{
    float:left;
    width:20%;
    margin-right:3%;
    text-align:center;
}

.share-txt .share-facebook {
    margin-left:5%;
}

.share-txt a {
    text-decoration:none;
}


div#received-medals h1,
div#share-medals h2 {
   text-align:center;
}

div#share-medals a {
    padding:5px 0;
}

div#share-medals h2 {
    width:50%;
}


div#received-medals .medal-bg-wrapper-green a,
div#received-medals .medal-bg-wrapper-blue a,
.share-bg-wrapper-blue a,
.blank-bg-wrapper {
    float:left;
    width:20%;
    margin-right:3%;
    text-align: center;
}

.back {
    height:70px;
    background-color:#f27049;
}

#share-medals a.button-stop {
    color:white;
    font-size:21px;
    text-decoration:none;
}

div#received-medals .medal-bg-wrapper-green a.first-medal-icon,
a.first-share-icon {
    margin-left:5%;
}

div#received-medals .medal-bg-wrapper-green a.last-medal-icon {
    margin-right:6%;
}

.medal-bg-wrapper-green a {
    background-color:#94bb47;
}

.medal-bg-wrapper-blue a,
.share-bg-wrapper-blue a {
    background-color:#4fa8db;
    text-decoration: none;
}

p.time-traveled-title-left {
    text-align:right;
    padding:10px 10px 5px 0;
}

p.time-traveled-value-left {
    text-align:right;
    padding:0;
}

p.time-traveled-title-right {
    text-align:left;
    padding:10px 0 5px 10px;
}

p.time-traveled-value-right {
    text-align:left;
    padding:0;
}

@media screen and (max-width: 500px) {

    div#middle-circle {
        width: 175px;
        height: 175px;
    }

    div#score-stats-inside-wrapper-middle p {
        font-size: 21px;
        padding-top: 55px;
    }

    div#score-stats-outside-wrapper {
        background: url('../images/blue-bg2.png') repeat-x top left;
    }

    div#score-stats-outside-wrapper-2 {
        background: url('../images/blue-bg.png') repeat-x top left;
    }

    div#score-stats-inside-wrapper-left {
        margin-top:110px;
        font-size:13px;
    }

    div#score-stats-inside-wrapper-right {
        margin-top:110px;
        font-size:13px;
    }

}
/**
* Pop-up box share!
*/
.popup-box {
    display:none;
    top:25%;
    left:25%;
    position:absolute;
    width:50%;
    background:#FFFFFF;
    margin:0 auto;
    z-index:100;
    font-size:15px;
    /* rounded border */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* dropshadow */
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.38);
    padding:25px 10px;
}

.popup-box h1 {
    font-weight:bold;
    font-size:18px;
    color: #000000;
}

.popup-box p {
    font-weight: bold;
    font-size:12px;
    color:#000000;
}

.popup-box .popup-image-icon {
    background-color:#94bb47;
    text-align:center;
    display:block;
    clear:both;
    width:90px;
    height:60px;
    padding:5px 10px;
    margin:0 auto;
}
/* popup-box-share */

.popup-box-share {
    display:none;
    top:25%;
    left:25%;
    position:absolute;
    width:50%;
    background:#FFFFFF;
    margin:0 auto;
    z-index:100;
    font-size:15px;
    /* rounded border */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* dropshadow */
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.38);
    padding:25px 10px;
}

.top-share-navigation {
    width:100%;
    color:black;
    padding-bottom:10px;
}

.top-share-navigation .top-title {
    width:75%;
    float:left;
    font-size:16px;
    font-weight:bold;
}

.top-share-navigation .top-post {
    width:25%;
    float:left;
    font-size:16px;
    font-weight:bold;
    text-align:right;
}

.top-share-navigation .top-post h1 a {
    margin:10 0;
    color:#4fa8db;
}

.content-share {
    width:100%;
}

.popup-box-share h1 {
    font-weight:bold;
    font-size:18px;
    color: #000000;
}

.popup-box-share p {
    font-weight: bold;
    font-size:12px;
    color:#000000;
}

.popup-box-share .popup-image-icon {
    background-color:#94bb47;
    text-align:center;
    display:block;
    clear:both;
    width:90px;
    height:60px;
    padding:5px 10px;
    margin:0 auto;
}


.popup-box a.button-stop {
    display: block;
    float: left;
    background: #f27049;
    font-size: 22px;
    text-decoration: none;
    padding: 5px 22px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

/**
 * Top bar
 */
div#top-bar {
    width: 100%;
    max-width: 560px;
    background: #94bb47;
    padding: 10px 20px;
    font-size: 28px;
    overflow: auto;
    position: fixed;
    z-index: 999;
    top: 0;
}

div#top-bar a.button-stop {
    display: block;
    float: left;
    background: #f27049;
    font-size: 22px;
    text-decoration: none;
    padding: 5px 22px;
    margin: 0 20px 0 0;
}

div#top-bar span.destination {
    float: left;
    margin: 3px 0 0;
}

/**
 * Route guide
 */
div#route-guide {
    min-height: 100%;
    padding-bottom: 93px;
}

div#route-guide div.map-container{
    width: 100%;
    height: 300px;
}

div#route-guide {
    margin-top: 57px;
}

div#route-guide div.section.closed {

}

div#route-guide div.section.current div.section-title,
div#route-guide div.section.finished div.section-title {
    opacity: 1;
}

div#route-guide div.section div.section-title {
    background-color: #3199d5;
    color: #fff;
    font-size: 1.4em;
    padding: 15px 15px 15px 65px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px 0 #000;
    box-shadow: 0 0 5px 0 #000;
}

div#route-guide div.section.walking div.section-title {
    background: url('../images/walking-icon.png') no-repeat 22px center #3199d5;
}

div#route-guide div.section.bus div.section-title {
    background: url('../images/bus-icon.png') no-repeat 15px center #3199d5;
}

div#route-guide div.section.train div.section-title {
    background: url('../images/train-icon.png') no-repeat 15px center #3199d5;
}

div#route-guide div.section.current div.section-title {
    background-color: #4fa7d9;
    font-size: 1.6em;
}

div#route-guide div.section.finished div.section-title {
    background-color: #47a447;
}

div#route-guide div.section.closed div.section-steps {
    display: none;
}

div#route-guide div.section div.section-steps div.button {
    display: none;
    width: 50%;
    min-width: 100px;
    margin: 0 auto;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #47a447;
    cursor: pointer;
}

div#route-guide div.section.current div.section-steps div.button {
    display: block;
}

div#route-guide div.section div.section-steps div.button.arrived {
    margin-top: 20px;
}

div#route-guide div.progress-bar {
    background: url('../images/process-line.png') repeat-x 0 45px #2b8fc8;
    -webkit-box-shadow: inset 0 0 5px 0 #222;
    box-shadow: inset 0 0 5px 0 #222;
}

div#route-guide div.progress-bar div.inner {
    background: url('../images/arrow-icon.png') no-repeat 15px center transparent;
}

div#route-guide div.section.walking div.progress-bar div.inner {
    background: url('../images/arrow-icon-walking.png') no-repeat 15px center transparent;
}

div#route-guide div.section.bus div.progress-bar div.inner {
    background: url('../images/arrow-icon-bus.png') no-repeat 15px center transparent;
}

div#route-guide div.progress-bar div.second-inner {
    height: 60px;
    /*padding: 10px 0;*/
    margin: 0 15px 0 0;
    /*background: url('../images/finish-icon.png') no-repeat right center transparent;*/
    background: url('../images/arrow-icon.png') no-repeat right center transparent;
}

div#route-guide div.progress-bar div.directions {
    text-align: center;
    height: 27px;
    font-size: 22px;
    padding: 8px 0 0;
}

div#route-guide div.progress-bar div.current-position {
    position: relative;
    margin-left: 2%;
    width: 32px;
    height: 20px;
    background: url('../images/current-position-icon.png') no-repeat 0 0 transparent;
}

div#route-guide div.step-ticker {
    height: 200px;
    overflow: hidden;
}

div#route-guide div.step-ticker div.arrow {
    width: 100%;
    height: 13px;
    background: url('../images/arrow-down.png') no-repeat center 0 transparent;
}

div#route-guide div.step-ticker div.inner {
    position: relative;
    overflow: auto;
    width: 1553px;
    left: 50%;
    margin-left: -105px;
}

div#route-guide div.step-ticker div.step {
    float: left;
    width: 170px;
    height: 160px;
    margin: 10px 20px 20px;
    background: #95bc49;
}

div#route-guide div.step-ticker div.step.step1 {
    background: url('../images/time-timer.png') no-repeat center 15px #95bc49;
}

div#route-guide div.step-ticker div.step.step1 span {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin: 125px 0 0;
}

div#route-guide div.step-ticker div.step.step2 {
    background: url('../images/kerk-image.jpg') no-repeat center center #95bc49;
    background-size: 90%;
}

div#route-guide div.step-ticker div.step.step3 {
    background: url('../images/arnhem-image.jpg') no-repeat center center #95bc49;
}

div#route-guide div.step-ticker div.step.step3 span,
div#route-guide div.step-ticker div.step.step4 span,
div#route-guide div.step-ticker div.step.step5 span{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 99px 10px 0;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
}

div#route-guide div.step-ticker div.step.step4 {
    background: url('../images/ov-image.jpg') no-repeat center 10px #95bc49;
}

div#route-guide div.step-ticker div.step.step5 {
    background: url('../images/bus-stop-icon.png') no-repeat center 13px #95bc49;
}

/**
 * Footer
 */
div#footer {
    position: fixed;
    -webkit-backface-visibility: hidden;
    width: 100%;
    max-width: 600px;
    bottom: 0;
    z-index: 999;
    background: #000;
}

div#footer ul {
    overflow: auto;
}

div#footer ul li {
    display: block;
    float: left;
    width: 50%;
}

div#footer ul li a {
    display: block;
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

div#footer ul li a.speech {
    height: 30px;
    margin-right: 1px;
    background: url('../images/speech-icon.png') no-repeat center 5px #f47e53;
    padding: 52px 0 0;
}

div#footer ul li a.emergency {
    height: 30px;
    margin-left: 1px;
    background: url('../images/warning-icon.png') no-repeat center 5px #f56e48;
    padding: 52px 0 0;
}


/**
 * Special colors
 */

body.specialcolors {
    background: #fff;
}

body.specialcolors a.logout {
    background: #0000ff;
    color: #ffd100;
}

body.specialcolors div#routes ul li a {
    background-color: #0000ff;
}

body.specialcolors div#routes ul li a span {
    background-color: #0000ff;
    color: #ffd100;
    font-size: 28px;
}

body.specialcolors div#footer ul li a {
    background-color: #0000ff;
    color: #ffd100;
}

body.specialcolors div#top-bar a.button-stop {
    background-color: transparent;
    color: #ffd100;
}

body.specialcolors div#top-bar {
    background-color: #0000ff;
    color: #ffd100;
}

body.specialcolors div#route-guide div.section.current div.section-title {
    background-color: #ffd100;
    color: #0000ff;
    font-size: 20px;
}

body.specialcolors div#route-guide div.progress-bar {
    background-color: #0000ff;
    color: #ffd100;
}

body.specialcolors div#route-guide div.section div.section-title {
    background-color: #0000ff;
}

body.specialcolors div#help ul li.Mama,
body.specialcolors div#help ul li.Papa,
body.specialcolors div#help ul li.Begeleider {
    background:#0000ff url('../images/phone-icon-yellow.png') no-repeat 25px 30px ;
    background-image:;
}

body.specialcolors div#help ul li.Mama a,
body.specialcolors div#help ul li.Papa a,
body.specialcolors div#help ul li.Begeleider a {
    color:#ffd100;
}

body.specialcolors div#footer {
    border-top:1px solid black;
}
body.specialcolors div#score-stats-outside-wrapper {
    background:url('../images/yellow-bg2.png') repeat-x top left;
}
body.specialcolors div#middle-circle {
    background-color:#0000ff;
}

body.specialcolors div#middle-circle p {
    color: #ffd100;
}

body.specialcolors div#score-stats-inside-wrapper {
    color:#0000ff;
}

body.specialcolors div#received-medals,
body.specialcolors div#share-medals {
    color:#0000ff;
}

body.specialcolors .medal-bg-wrapper-green a,
body.specialcolors .share-bg-wrapper-blue a{
    background-color:#0000ff;
}

body.specialcolors .back {
    background-color:#0000ff;
}

body.specialcolors div#score-stats-outside-wrapper-2 {
    background:url('../images/yellow-bg.png') repeat-x top left;
}

body.specialcolors .popup-box {
    background:#ffd100;
}

body.specialcolors .popup-box .popup-image-icon {
    background-color:#0000ff;
}

body.specialcolors .top-share-navigation .top-post h1 a {
    color:#0000ff;
}
body.specialcolors div#routes ul li.Huis a {
    background-image: url('../images/house-icon-yellow.png');
}

body.specialcolors div#routes ul li.School a {
    background-image: url('../images/school-icon2-yellow.png');
}

body.specialcolors div#routes ul li.Werk a {
    background-image: url('../images/work-icon2-yellow.png');
}

body.specialcolors div#routes ul li.Truus a {
    background-image: url('../images/woman-2-icon-yellow.png');
}

body.specialcolors div#routes ul li.Oma a {
    background-image: url('../images/woman-icon-yellow.png');
}

body.specialcolors div#routes ul li.scores a {
    background-image: url('../images/cup-icon-yellow.png');
}

body.specialcolors div#footer ul li a.speech {
    background-image: url('../images/speech-icon-yellow.png');
}

body.specialcolors div#footer ul li a.emergency {
    background-image: url('../images/warning-icon-yellow.png');
}