<div id="top-bar">
    <a href="/#/" class="button-stop">Terug</a>
    <span class="destination">Naar {{ routeDetails.doc.name }}</span>
</div><!-- div#top-bar -->

<div id="route-guide">

    <div data-ng-repeat="step in routeDirections.steps"
         class="section {{ step.type }}"
         ng-class="{current : $first, open: $first, closed: !$first}"
         ng-include
         src="'pages/travel/steps/step-' + step.type + '.html'"
         onload="travelPartialLoaded($index, step.type, step.destination, 'map' + $index);"
         data-destination="{{ step.destination }}">
    </div>

</div><!-- div#route-guide -->

<div id="footer">
    <ul>
        <li><a class="speech" data-ng-click="speakToMe()">Spraak</a></li>
        <li><a href="/#/help" class="emergency">Help!</a></li>
    </ul>
</div><!-- div#footer -->