<h1>Reiziger detail</h1>
<br/>
<a class="btn btn-primary btn-sm" href="/beheer/#/travelers">Terug naar overzicht</a>
<br/><br/>

<form name="travelerForm">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Voornaam:</td>
                    <td><input type="text" data-ng-model="travelers.doc.firstname"></td>
                </tr>
                <tr>
                    <td>Achternaam:</td>
                    <td><input type="text" data-ng-model="travelers.doc.lastname"></td>
                </tr>
                <tr>
                    <td>Gebruikersnaam:</td>
                    <td><input type="text" data-ng-model="travelers.doc.username"></td>
                </tr>
                <tr>
                    <td>Email adres:</td>
                    <td><input type="text" data-ng-model="travelers.doc.email"></td>
                </tr>
                <tr>
                    <td>Telefoonnummer:</td>
                    <td><input type="text" data-ng-model="travelers.doc.phone"></td>
                </tr>
                <tr>
                    <td>Wachtwoord:</td>
                    <td><input type="text" data-ng-model="travelers.doc.password"></td>
                </tr>
                <tr>
                    <td>Gebruikers punten:</td>
                    <td><input type="text" data-ng-model="travelers.doc.userPoints"></td>
                </tr>
                <tr>
                    <td>Laatst bekende GPS locatie:</td>
                    <td><input type="text" data-ng-model="travelers.doc.lastGpsLocation"></td>
                </tr>
                <tr>
                    <td>Facebook OAuth token:</td>
                    <td><input type="text" data-ng-model="travelers.doc.facebookOauthToken"></td>
                </tr>
                <tr>
                    <td>Twitter OAuth Token:</td>
                    <td><input type="text" data-ng-model="travelers.doc.twitterOauthToken"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr/>

    <h4>Noodnummers:</h4>
    <button class="btn btn-success btn-sm" data-ng-click="addEmergencyNumber()">Noodnummer toevoegen</button><br/><br/>
    <table class="table">
        <tbody>
        <tr data-ng-repeat="number in travelers.doc.emergencyNumbers">
            <td>Naam:</td>
            <td><input type="text" data-ng-model="number.name"></td>
            <td>Nummer:</td>
            <td><input type="text" data-ng-model="number.number"></td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <h4>Routes:</h4>
    <button class="btn btn-success btn-sm" data-ng-click="addRoute()">Route toevoegen</button><br/><br/>
    <table class="table">
        <tbody>
        <tr data-ng-repeat="route in travelers.doc.routes">
            <td>Naam:</td>
            <td><input type="text" data-ng-model="route.name"></td>
            <td>Bestemming:</td>
            <td><input type="text" data-ng-model="route.destination"></td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <h4>Medailles:</h4>
    <button class="btn btn-success btn-sm" data-ng-click="addBadge()">Medaille toevoegen</button><br/><br/>
    <table class="table">
        <tbody>
        <tr data-ng-repeat="badge in travelers.doc.badges">
            <td>MedailleID:</td>
            <td><input type="text" data-ng-model="badge.badgeId"></td>
            <td>Medaille behaald op:</td>
            <td><input type="text" data-ng-model="badge.achievedDate"></td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <button type="button" data-ng-click="delete(travelers.doc._id)" class="btn btn-lg btn-danger">Verwijderen</button>

    <button type="button" data-ng-click="update()" data-ng-disable="travelerForm.$invalid" class="btn btn-primary btn-lg">Opslaan</button>

</form>