<div class="section-title" data-ng-click="handleSectionTitleClick($event)">Bus naar {{ step.destination }}</div>
<div class="section-steps">
    <div class="progress-bar">
        <div class="inner">
            <div class="second-inner">
                <div class="directions left">Neem de bus</div>
                <div class="current-position"></div>
            </div>
        </div>
    </div>

    <div class="step-ticker">
        <div class="arrow"></div>
        <div class="inner">
            <div class="step step1"><span>Nog 10 minuten</span></div>
            <div class="step step2"></div>
            <div class="step step3"><span>Bij dit gebouw ben je er bijna</span></div>
            <div class="step step4"><span>Pak alvast je OV kaart</span></div>
            <div class="step step5"><span>Stap uit bij halte 'Het Dorp'</span></div>
        </div>
    </div>

    <!--<ul>-->
        <!--<li data-ng-repeat="stop in step.stops">{{ stop.arrival}} - {{ stop.name }}</li>-->
    <!--</ul>-->

    <!--<div class="button arrived" data-ng-click="goToNextSection($event)">Ik ben er!</div>-->
</div>
</div>