<div class="section-title" data-ng-click="handleSectionTitleClick($event)">Neem de bus naar {{ step.destination }}</div>
<div class="section-steps">
    <div class="progress-bar">
        <div class="inner">
            <div class="second-inner">
                <div class="directions left">Pak alvast je OV</div>
                <div class="current-position"></div>
            </div>
        </div>
    </div>
    <ul>
        <li data-ng-repeat="stop in step.stops">{{ stop.arrival}} - {{ stop.name }}</li>
    </ul>

    <div class="button arrived" data-ng-click="goToNextSection($event)">Ik ben er!</div>
</div>
</div>