<h1>Route detail</h1>
<br/>
<a class="btn btn-primary btn-sm" href="/beheer/#/routes">Terug naar overzicht</a>
<br/><br/>

<form name="routeForm">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Naam:</td>
                    <td><input type="text" data-ng-model="routes.doc.name"></td>
                </tr>
                <tr>
                    <td>Bestemming:</td>
                    <td><input type="text" data-ng-model="routes.doc.destination"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" data-ng-click="delete(routes.doc._id)" class="btn btn-lg btn-danger">Verwijderen</button>

    <button type="button" data-ng-click="update()" data-ng-disable="routeForm.$invalid" class="btn btn-primary btn-lg">Opslaan</button>

</form>