<h1>Nieuwe medaille koppeling toevoegen</h1>

<br/>
<a class="btn btn-primary btn-sm" href="/beheer/#/badgeData">Terug naar overzicht</a>
<br/><br/>

<form name="badgeDataForm">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>GebruikerID:</td>
                    <td><input type="text" data-ng-model="badgeData.doc.travelerId"></td>
                </tr>
                <tr>
                    <td>Badge ID:</td>
                    <td><input type="text" data-ng-model="badgeData.doc.badgeId"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" data-ng-click="save()" data-ng-disable="badgeDataForm.$invalid" class="btn btn-primary btn-lg">Opslaan</button>

</form>