<h1>Medaille koppeling detail</h1>
<br/>
<a class="btn btn-primary btn-sm" href="/beheer/#/badgeData">Terug naar overzicht</a>
<br/><br/>

<form name="badgeDataForm">

    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td>Behaald op:</td>
                <td><input type="text" data-ng-model="badgeData.doc.achievedDate"></td>
            </tr>
            <tr>
                <td>GebruikerID:</td>
                <td><input type="text" data-ng-model="badgeData.doc.travelerId"></td>
            </tr>
            <tr>
                <td>Badge ID:</td>
                <td><input type="text" data-ng-model="badgeData.doc.badgeId"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" data-ng-click="delete(badgeData.doc._id)" class="btn btn-lg btn-danger">Verwijderen</button>

    <button type="button" data-ng-click="update()" data-ng-disable="badgeDataForm.$invalid" class="btn btn-primary btn-lg">Opslaan</button>

</form>