<h1>Mentor detail</h1>
<br/>
<a class="btn btn-primary btn-sm" href="/beheer/#/mentors">Terug naar overzicht</a>
<br/><br/>

<form name="mentorForm">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>User ID:</td>
                    <td><input type="text" data-ng-model="mentors.doc.userId"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" data-ng-click="delete(mentors.doc._id)" class="btn btn-lg btn-danger">Verwijderen</button>

    <button type="button" data-ng-click="update()" data-ng-disable="mentorForm.$invalid" class="btn btn-primary btn-lg">Opslaan</button>

</form>